<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

      <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MW2NHLX');</script>
<!-- End Google Tag Manager -->  
  
<style itemscope itemtype="https://schema.org/WebSite" itemref="schema_name schema_description schema_image"></style>

<title>Opus9 — Transforming a Logistics Brand to be Digital First. | RNO1 ≈ West Coast Brandmakers | Brand & Digital Experience Agency</title>
<meta id="schema_name" itemprop="name" content="Opus9 — Transforming a Logistics Brand to be Digital First. | RNO1 ≈ West Coast Brandmakers | Brand & Digital Experience Agency">

<meta name="description" content="RNO1 is a branding & digital design agency offering brand identity, eCommerce and digital experience to fuel growth-focused companies across platforms & places.">
<meta id="schema_description" itemprop="description" content="RNO1 is a branding & digital design agency offering brand identity, eCommerce and digital experience to fuel growth-focused companies across platforms & places.">

<link rel="canonical" href="opus9-transforming-a-logistics-brand-to-be-digital-first.html" />

    <meta id="schema_image" itemprop="image" content="https://rno1.com/media/site/ee3c641bd2-1646240653/img-fb-share.jpg">



<meta property="og:title" content="Opus9 — Transforming a Logistics Brand to be Digital First. | RNO1 ≈ West Coast Brandmakers | Brand & Digital Experience Agency">
<meta property="og:description" content="RNO1 is a branding & digital design agency offering brand identity, eCommerce and digital experience to fuel growth-focused companies across platforms & places.">
<meta property="og:site_name" content="rno1.com">
<meta property="og:url" content="https://rno1.com/work/opus9-transforming-a-logistics-brand-to-be-digital-first">

    <meta property="og:image" content="https://rno1.com/media/site/ee3c641bd2-1646240653/img-fb-share-1200x630-crop-1-q80.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
            <meta property="og:image:alt" content="RNO1 surfer dude" />
    
<meta property="og:type" content="website">


<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="RNO1 ≈ West Coast Brandmakers | Brand & Digital Experience Agency">
<meta name="twitter:description" content="RNO1 is a branding & digital design agency offering brand identity, eCommerce and digital experience to fuel growth-focused companies across platforms & places.">

    <meta name="twitter:site" content="@livethebrand">

    <meta name="twitter:image" content="https://rno1.com/media/site/ee3c641bd2-1646240653/img-fb-share-1200x675-crop-1-q80.jpg">
            <meta property="twitter:image:alt" content="RNO1 surfer dude" />
    

<meta name="date" content="2022-03-02" scheme="YYYY-MM-DD">
  <link rel="icon" type="image/svg+xml" href="../favicon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon%EF%B9%96v=202106.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32%EF%B9%96v=202106.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16%EF%B9%96v=202106.png">
  <link rel="manifest" href="../site.webmanifest%EF%B9%96v=202106.txt">
  <link rel="mask-icon" href="../safari-pinned-tab%EF%B9%96v=202106.svg" color="#232323">
  <link rel="shortcut icon" href="../favicon%EF%B9%96v=202106.ico">
  <meta name="msapplication-TileColor" content="#232323">
  <meta name="theme-color" content="#232323">
  <meta name="monotwo-assets" content="https://rno1.com{{site.baseurl}}assets/" />

      
  <link crossorigin="anonymous" href="..{{site.baseurl}}assets/generated/css/app.min%EF%B9%96v=1649842977.css" integrity="sha384-CX823yQ8LjN+glP2agarBcbDD6hXcF0poVIPUDYeFbGXbM0RzroZQjweEV7xLY/y" rel="stylesheet"></head>

<body class="">

      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW2NHLX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->  
  <div id="transition" style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #434A7F; z-index: 100; -webkit-transform: translatez(0); -ms-transform: translatez(0); transform: translatez(0);">
  <div id="preloader"></div>
</div>
    
  <main id="mono-wrapper">
    <div class="mono-container" data-page="case">

              <nav class="full">
      <div class="menu menu--main ">
      <div class="menu__container">
        <a class="logo" href="../index.html">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 83 30">
            <path fill-rule="evenodd" d="M58.936.82c8.46 0 14.533 6.306 14.533 14.101V15c0 7.768-6.108 14.137-14.526 14.177-.03 0-.056.003-.085.003-8.458 0-14.528-6.307-14.528-14.103h.031-.036V15a9.131 9.131 0 0 0-.914-4.01c-1.333-2.723-4.02-4.607-7.387-4.607-3.435 0-6.119 1.925-7.4 4.71a9.167 9.167 0 0 0-.825 3.828v13.533h-6.305V15c0-1.317.18-2.593.513-3.808a13.877 13.877 0 0 1 3.347-5.922C27.962 2.536 31.72.82 36.1.82c.298 0 .592.01.883.025 3.85.203 7.154 1.728 9.55 4.097.347.344.674.707.983 1.085a13.834 13.834 0 0 1 2.514 4.752c.392 1.31.6 2.7.6 4.142V15h-.255.262c0 4.701 3.444 8.618 8.3 8.618 4.857 0 8.227-3.84 8.227-8.54V15c0-4.7-3.449-8.617-8.306-8.617-3.06 0-5.528 1.527-6.935 3.833a15.079 15.079 0 0 0-1.528-3.335 15.52 15.52 0 0 0-.643-.955c-.31-.423-.639-.832-.99-1.22.02-.02.042-.042.065-.062C51.394 2.276 54.9.82 58.937.82zM14.61.82c3.665 0 6.883 1.188 9.354 3.165A15.734 15.734 0 0 0 20.69 9.15c-1.477-1.693-3.624-2.767-6.16-2.767-4.855 0-8.225 3.838-8.225 8.538v13.533H0V15C0 7.205 6.148.82 14.609.82zm59.344.735H83v26.9h-6.215V7.771h-2.832V1.555z" />
          </svg>
        </a>
        <ul>
          <li>
            <a  href="../work.html">
              <span>Work</span></a>
          </li>
          <li>
            <a  href="../about.html">
              <span>About</span></a>
          </li>
          <li>
            <a  href="../capabilities.html">
              <span>Capabilities</span></a>
          </li>
          <li>
            <a  href="../revolve.html">
              <span>Revolve</span></a>
          </li>
                      <li>
              <a  href="../retrn.html">
                <span>Retrn</span></a>
            </li>
                    <li>
            <a  href="../ryde.html">
              <span>Ryde</span></a>
          </li>
          <li>
            <a href="../contact.html" class="contact">
              <span>Contact</span>
              <div></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
      <div class="menu menu--fixed ">
      <div class="menu__container">
        <a class="logo" href="../index.html">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 83 30">
            <path fill-rule="evenodd" d="M58.936.82c8.46 0 14.533 6.306 14.533 14.101V15c0 7.768-6.108 14.137-14.526 14.177-.03 0-.056.003-.085.003-8.458 0-14.528-6.307-14.528-14.103h.031-.036V15a9.131 9.131 0 0 0-.914-4.01c-1.333-2.723-4.02-4.607-7.387-4.607-3.435 0-6.119 1.925-7.4 4.71a9.167 9.167 0 0 0-.825 3.828v13.533h-6.305V15c0-1.317.18-2.593.513-3.808a13.877 13.877 0 0 1 3.347-5.922C27.962 2.536 31.72.82 36.1.82c.298 0 .592.01.883.025 3.85.203 7.154 1.728 9.55 4.097.347.344.674.707.983 1.085a13.834 13.834 0 0 1 2.514 4.752c.392 1.31.6 2.7.6 4.142V15h-.255.262c0 4.701 3.444 8.618 8.3 8.618 4.857 0 8.227-3.84 8.227-8.54V15c0-4.7-3.449-8.617-8.306-8.617-3.06 0-5.528 1.527-6.935 3.833a15.079 15.079 0 0 0-1.528-3.335 15.52 15.52 0 0 0-.643-.955c-.31-.423-.639-.832-.99-1.22.02-.02.042-.042.065-.062C51.394 2.276 54.9.82 58.937.82zM14.61.82c3.665 0 6.883 1.188 9.354 3.165A15.734 15.734 0 0 0 20.69 9.15c-1.477-1.693-3.624-2.767-6.16-2.767-4.855 0-8.225 3.838-8.225 8.538v13.533H0V15C0 7.205 6.148.82 14.609.82zm59.344.735H83v26.9h-6.215V7.771h-2.832V1.555z" />
          </svg>
        </a>
        <ul>
          <li>
            <a  href="../work.html">
              <span>Work</span></a>
          </li>
          <li>
            <a  href="../about.html">
              <span>About</span></a>
          </li>
          <li>
            <a  href="../capabilities.html">
              <span>Capabilities</span></a>
          </li>
          <li>
            <a  href="../revolve.html">
              <span>Revolve</span></a>
          </li>
                      <li>
              <a  href="../retrn.html">
                <span>Retrn</span></a>
            </li>
                    <li>
            <a  href="../ryde.html">
              <span>Ryde</span></a>
          </li>
          <li>
            <a href="../contact.html" class="contact">
              <span>Contact</span>
              <div></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
        <nav class="mobile">
			<div class="top top--main ">
			<a class="logo" href="../index.html">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 83 30">
					<path fill-rule="evenodd" d="M58.936.82c8.46 0 14.533 6.306 14.533 14.101V15c0 7.768-6.108 14.137-14.526 14.177-.03 0-.056.003-.085.003-8.458 0-14.528-6.307-14.528-14.103h.031-.036V15a9.131 9.131 0 0 0-.914-4.01c-1.333-2.723-4.02-4.607-7.387-4.607-3.435 0-6.119 1.925-7.4 4.71a9.167 9.167 0 0 0-.825 3.828v13.533h-6.305V15c0-1.317.18-2.593.513-3.808a13.877 13.877 0 0 1 3.347-5.922C27.962 2.536 31.72.82 36.1.82c.298 0 .592.01.883.025 3.85.203 7.154 1.728 9.55 4.097.347.344.674.707.983 1.085a13.834 13.834 0 0 1 2.514 4.752c.392 1.31.6 2.7.6 4.142V15h-.255.262c0 4.701 3.444 8.618 8.3 8.618 4.857 0 8.227-3.84 8.227-8.54V15c0-4.7-3.449-8.617-8.306-8.617-3.06 0-5.528 1.527-6.935 3.833a15.079 15.079 0 0 0-1.528-3.335 15.52 15.52 0 0 0-.643-.955c-.31-.423-.639-.832-.99-1.22.02-.02.042-.042.065-.062C51.394 2.276 54.9.82 58.937.82zM14.61.82c3.665 0 6.883 1.188 9.354 3.165A15.734 15.734 0 0 0 20.69 9.15c-1.477-1.693-3.624-2.767-6.16-2.767-4.855 0-8.225 3.838-8.225 8.538v13.533H0V15C0 7.205 6.148.82 14.609.82zm59.344.735H83v26.9h-6.215V7.771h-2.832V1.555z" />
				</svg>
			</a>
			<a class="contact" href="../contact.html">
				<span>Contact</span>
			</a>
			<button class="toggle"></button>
		</div>
			<div class="top top--fixed ">
			<a class="logo" href="../index.html">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 83 30">
					<path fill-rule="evenodd" d="M58.936.82c8.46 0 14.533 6.306 14.533 14.101V15c0 7.768-6.108 14.137-14.526 14.177-.03 0-.056.003-.085.003-8.458 0-14.528-6.307-14.528-14.103h.031-.036V15a9.131 9.131 0 0 0-.914-4.01c-1.333-2.723-4.02-4.607-7.387-4.607-3.435 0-6.119 1.925-7.4 4.71a9.167 9.167 0 0 0-.825 3.828v13.533h-6.305V15c0-1.317.18-2.593.513-3.808a13.877 13.877 0 0 1 3.347-5.922C27.962 2.536 31.72.82 36.1.82c.298 0 .592.01.883.025 3.85.203 7.154 1.728 9.55 4.097.347.344.674.707.983 1.085a13.834 13.834 0 0 1 2.514 4.752c.392 1.31.6 2.7.6 4.142V15h-.255.262c0 4.701 3.444 8.618 8.3 8.618 4.857 0 8.227-3.84 8.227-8.54V15c0-4.7-3.449-8.617-8.306-8.617-3.06 0-5.528 1.527-6.935 3.833a15.079 15.079 0 0 0-1.528-3.335 15.52 15.52 0 0 0-.643-.955c-.31-.423-.639-.832-.99-1.22.02-.02.042-.042.065-.062C51.394 2.276 54.9.82 58.937.82zM14.61.82c3.665 0 6.883 1.188 9.354 3.165A15.734 15.734 0 0 0 20.69 9.15c-1.477-1.693-3.624-2.767-6.16-2.767-4.855 0-8.225 3.838-8.225 8.538v13.533H0V15C0 7.205 6.148.82 14.609.82zm59.344.735H83v26.9h-6.215V7.771h-2.832V1.555z" />
				</svg>
			</a>
			<a class="contact" href="../contact.html">
				<span>Contact</span>
			</a>
			<button class="toggle"></button>
		</div>
		<div class="menu">
		<img class="background" data-lazy-src="https://rno1.com{{site.baseurl}}assets/images/img-burger-bg.jpg" data-lazy-srcset="https://rno1.com{{site.baseurl}}assets/images/img-burger-bg@2x.jpg 2x" alt="Waves">
		<ul>
			<li>
				<a  href="../work.html">Work</a>
			</li>
			<li>
				<a  href="../about.html">About</a>
			</li>
			<li>
				<a  href="../capabilities.html">Capabilities</a>
			</li>
			<li>
				<a  href="../revolve.html">Revolve</a>
			</li>
							<li>
					<a  href="../retrn.html">
						<span>Retrn</span></a>
				</li>
						<li>
				<a  href="../ryde.html">Ryde</a>
			</li>
		</ul>
		<a class="carrow carrow--fill-width inquiry" href="../inquiry.html">Start a partnership
			<span></span>
		</a>
	</div>
</nav>
                  <div id="notice-sticky" class="halloween" data-name="retrn">
    <div class="content">
                                <img src="../media/site/7a3c1d4250-1649842124/retrn-314x300.png" srcset="../media/site/7a3c1d4250-1649842124/retrn.png 2x" alt="" style="width: auto; top: 0;">
        
            <div class="text">
        <h4>Meet Retrn. New Web3 Subscription Model</h4>

        <a class="play-button" href="../retrn.html">
          <!-- <svg width="68" height="68" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M42 34l-12 8V26l12 8z" fill="#FFFFFF" />
          <circle cx="34" cy="34" r="33" stroke="#E0DFDF" stroke-width="2" />
        </svg> -->
          <svg width="68" height="68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="34" cy="34" r="33" stroke="#fff" stroke-width="2" />
            <path fill="#fff" d="M20 33h25v2H20z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M41 28.942v5h6l-6-5Z" fill="#fff" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M41 38.942v-5h6l-6 5Z" fill="#fff" />
          </svg>

          <span>learn more</span>
        </a>
      </div>
    </div>

    <div id="notice-close" class="close-button">
      <div></div>
    </div>
  </div>
            <div class="page__content">

<section id="case__intro">
  <div class="intro__head">
    <div class="container">
      <h1>Opus9 — Transforming a Logistics Brand to be Digital First.</h1>
      <span class="sub">
        Branding & Identity, Websites & Digital Platforms      </span>
    </div>
    <div class="intro__image" data-reveal="up">
      <div class="img__container">
          <img class="fill-background"  data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/980946fd13-1646240653/opus9-main-cover-r-1725x900.jpg" data-lazy-srcset="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/980946fd13-1646240653/opus9-main-cover-r.jpg 2x"  alt="Opus9 number cover">
      </div>
    </div>
  </div>
  <div class="intro__description">
    <div class="container">
      <div class="overview">
        <span class="up" data-reveal="up">Overview</span>
        <div data-reveal="up"><p>Opus9 provides SMB shippers an easy way to book shipments online. Working with the Founding &amp; Product Marketing Team for this (VC-backed) SaaS Startup, we helped launch their MVP web app. As the collaboration continued, we went through a Full Rebranding (Naming, Identity, Visual Language) and extended this out to all user touchpoints, allowing the brand to be seen as agile and approachable. Once the MVP web app was successfully adopted, we launched a new "TMS" as a cloud based platform. This required a deep-dive into Persona Development, User Journeys, UX/UI Design, and Rapid/Functional Prototyping (working with internal Devs). Opus9 is making waves in the market as a digital-first logistics brand.</p></div>
      </div>
      <div class="deliverables">
        <span class="up" data-reveal="up">Deliverables</span>
        <ul>
                      <li data-reveal="up">Brand Strategy</li>
                      <li data-reveal="up">Naming & Messaging</li>
                      <li data-reveal="up">Design Research</li>
                      <li data-reveal="up">Identity Design</li>
                      <li data-reveal="up">Digital Strategy</li>
                      <li data-reveal="up">UX/UI Design</li>
                      <li data-reveal="up">Visual Design Language</li>
                      <li data-reveal="up">Rapid Prototyping</li>
                      <li data-reveal="up">Agile Design Development</li>
                  </ul>
              </div>
    </div>
  </div>
</section>
<section id="case__content">

      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/a1ae675875-1646240653/opus9-case-1.jpg" class="fill-background" alt="">
            <div style="padding-top: 58.958333333333%"></div>
                  </div>
          
      
          
              <div class="media__container svg">
          <div data-reveal="simple">
                          <img src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/c136c7ff1c-1646240653/opus9-case-2.svg" alt="" />
                      </div>
        </div>
          
      
          
              <div class="media__container svg">
          <div data-reveal="simple">
                          <img src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/5ea6b37158-1646240653/opus9-case-3.svg" alt="" />
                      </div>
        </div>
          
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/df4a5c97eb-1646240653/opus9-case-4.jpg" class="fill-background" alt="">
            <div style="padding-top: 126.875%"></div>
                  </div>
          
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/1699f299b8-1646240653/opus9-case-5.jpg" class="fill-background" alt="">
            <div style="padding-top: 83.75%"></div>
                  </div>
          
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/4e726821bd-1646240653/opus9-case-6.jpg" class="fill-background" alt="">
            <div style="padding-top: 111.71875%"></div>
                  </div>
          
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/08c4af1035-1646240653/opus9-case-7.jpg" class="fill-background" alt="">
            <div style="padding-top: 79.791666666667%"></div>
                  </div>
          
            <div class="media__container">
                  <video data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/676ca07605-1646240653/opus9-case-8.mp4" data-poster="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/ac44963e5f-1646240653/opus9-case-8-fallback.jpg" autoplay="autoplay" loop="loop" preload="preload" muted="muted" playsinline="playsinline" class="fill-background">
            <img src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/ac44963e5f-1646240653/opus9-case-8-fallback.jpg" class="fill-background" alt="" />
          </video>
          <div style="padding-top: 73.020833333333%"></div>
              </div>
    
    
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/734c817ca8-1646240653/opus9-case-9.jpg" class="fill-background" alt="">
            <div style="padding-top: 78.645833333333%"></div>
                  </div>
          
            <div class="media__container">
                  <video data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/26109dddb4-1646240653/opus9-case-10.mp4" data-poster="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/0dcdb2f42b-1646240653/opus9-case-10-fallback.jpg" autoplay="autoplay" loop="loop" preload="preload" muted="muted" playsinline="playsinline" class="fill-background">
            <img src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/0dcdb2f42b-1646240653/opus9-case-10-fallback.jpg" class="fill-background" alt="" />
          </video>
          <div style="padding-top: 54.479166666667%"></div>
              </div>
    
    
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/0f229044f5-1646240653/opus9-case-11.jpg" class="fill-background" alt="">
            <div style="padding-top: 72.03125%"></div>
                  </div>
          
      
          
              <div class="media__container svg">
          <div data-reveal="simple">
                          <img src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/c62742b7a2-1646240653/opus9-case-12.svg" alt="" />
                      </div>
        </div>
          
      
          
              <div class="media__container svg">
          <div data-reveal="simple">
                          <img src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/45bac1ab7d-1646240653/opus9-case-13.svg" alt="" />
                      </div>
        </div>
          
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/89be7bf22b-1646240653/opus9-case-14.jpg" class="fill-background" alt="">
            <div style="padding-top: 49.53125%"></div>
                  </div>
          
      
          
              <div class="media__container svg">
          <div data-reveal="simple">
                          <img src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/74d8a9a78f-1646240653/opus9-case-15.svg" alt="" />
                      </div>
        </div>
          
      
          
              <div class="media__container">
                      <img data-lazy-src="https://rno1.com/media/pages/work/opus9-transforming-a-logistics-brand-to-be-digital-first/3b14375a24-1646240653/opus9-case-16.jpg" class="fill-background" alt="">
            <div style="padding-top: 32.5%"></div>
                  </div>
          
  </section>
<section id="case__foot">
  <div class="container">
                  <div class="next__project">
          <span class="up" data-reveal="up">Next project</span>
          <a href="wand-revolutionizing-residential-cleaning.html" data-reveal="up">Wand — Revolutionizing Residential Cleaning.</a>
        </div>
          
    <div class="back">
      <a href="../work.html" class="arrow" data-reveal="up">
        <span></span>
        Back to all projects
      </a>
    </div>
  </div>
</section>

  <footer>
  <div class="container footer__cta">
    <img data-lazy-src="https://rno1.com{{site.baseurl}}assets/images/img-footer-inquiry-bg.jpg" data-lazy-srcset="https://rno1.com{{site.baseurl}}assets/images/img-footer-inquiry-bg@2x.jpg 2x" class="fill-background" alt="Waves">
    <div class="container">
      <h2 data-reveal="simple">Let’s make
        <i>waves</i>.
      </h2>
      <a class="carrow" href="../inquiry.html" data-reveal="simple">Start a partnership
        <span></span></a>
    </div>
    <div class="bottom" data-animation="https://rno1.com{{site.baseurl}}assets/animations/cta-wave.json" data-animation-loop="true"></div>
  </div>
  <div class="container footer__contacts">
    <div class="logo" data-reveal="up">
      <a href="../index.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 83 30">
          <path fill-rule="evenodd" d="M58.936.82c8.46 0 14.533 6.306 14.533 14.101V15c0 7.768-6.108 14.137-14.526 14.177-.03 0-.056.003-.085.003-8.458 0-14.528-6.307-14.528-14.103h.031-.036V15a9.131 9.131 0 0 0-.914-4.01c-1.333-2.723-4.02-4.607-7.387-4.607-3.435 0-6.119 1.925-7.4 4.71a9.167 9.167 0 0 0-.825 3.828v13.533h-6.305V15c0-1.317.18-2.593.513-3.808a13.877 13.877 0 0 1 3.347-5.922C27.962 2.536 31.72.82 36.1.82c.298 0 .592.01.883.025 3.85.203 7.154 1.728 9.55 4.097.347.344.674.707.983 1.085a13.834 13.834 0 0 1 2.514 4.752c.392 1.31.6 2.7.6 4.142V15h-.255.262c0 4.701 3.444 8.618 8.3 8.618 4.857 0 8.227-3.84 8.227-8.54V15c0-4.7-3.449-8.617-8.306-8.617-3.06 0-5.528 1.527-6.935 3.833a15.079 15.079 0 0 0-1.528-3.335 15.52 15.52 0 0 0-.643-.955c-.31-.423-.639-.832-.99-1.22.02-.02.042-.042.065-.062C51.394 2.276 54.9.82 58.937.82zM14.61.82c3.665 0 6.883 1.188 9.354 3.165A15.734 15.734 0 0 0 20.69 9.15c-1.477-1.693-3.624-2.767-6.16-2.767-4.855 0-8.225 3.838-8.225 8.538v13.533H0V15C0 7.205 6.148.82 14.609.82zm59.344.735H83v26.9h-6.215V7.771h-2.832V1.555z" />
        </svg>
      </a>

      <div class="copyright" data-reveal="up">
        <p>© 2022 RNO1, LLC livethebrand<sup>TM</sup>
        </p>
        <p>Made on the West Coast
          <svg width="14" height="9">
            <g fill="none" fill-rule="evenodd">
              <path fill="#454547" d="M13.761 6.504a.673.673 0 0 0-.474-.432.672.672 0 0 0-.64.19c-1.41 1.513-3.82 1.534-5.276-.023C5.346 4.33 2.287 4.324.256 6.227l-.01.01c-.25.248-.31.627-.176.89a.683.683 0 0 0 .445.424.677.677 0 0 0 .644-.15c1.511-1.42 3.79-1.42 5.28-.023.955 1.025 2.226 1.59 3.581 1.591 1.353 0 2.626-.566 3.574-1.582.242-.248.301-.625.167-.883M.084 2.36a.813.813 0 0 1 .163-.927l.01-.008c2.027-1.899 5.085-1.899 7.113 0 1.458 1.57 3.87 1.545 5.275.025.211-.18.431-.234.64-.183a.676.676 0 0 1 .46.385.81.81 0 0 1-.155.926c-.927 1.004-2.233 1.588-3.57 1.588-1.337 0-2.644-.584-3.584-1.602-1.486-1.395-3.765-1.397-5.277.025a.683.683 0 0 1-.615.16.682.682 0 0 1-.46-.389" />
            </g>
          </svg>
        </p>
      </div>

    </div>
    <div class="cities">
              <div class="city" data-reveal="up">
          <h5>sf.</h5>
          <a href="tel:650.268.9783">650.268.9783</a>
          <a href="mailto:sf@rno1.com">sf@rno1.com</a>
          <a href="https://www.google.com/maps/place/WeWork/@37.7925047,-122.4053156,3a,75y,8.64h,110.23t/data=!3m7!1e1!3m5!1sa6i3agsoZVZeVNoPDL0BiQ!2e0!6s%2F%2Fgeo3.ggpht.com%2Fcbk%3Fpanoid%3Da6i3agsoZVZeVNoPDL0BiQ%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D211%26h%3D120%26yaw%3D352.467%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192!4m8!1m2!2m1!1s650+California+Street+San+Francisco,+CA+94108!3m4!1s0x8085808ba419a631:0xe6596dc08dc3d4ed!8m2!3d37.7929358!4d-122.4053783" target="_blank">Map</a>
        </div>
              <div class="city" data-reveal="up">
          <h5>la.</h5>
          <a href="tel:310.861.5885">310.861.5885</a>
          <a href="mailto:la@rno1.com">la@rno1.com</a>
          <a href="https://www.google.com/maps/place/3000+Olympic+Blvd,+Santa+Monica,+CA+90404/@34.0305438,-118.4627542,3a,75y,165.55h,90t/data=!3m6!1e1!3m4!1swKt1DumSqKXq1EEfJo_hrQ!2e0!7i16384!8i8192!4m5!3m4!1s0x80c2bb158c029ff5:0xa73697565cb18187!8m2!3d34.0301246!4d-118.4626163" target="_blank">Map</a>
        </div>
              <div class="city" data-reveal="up">
          <h5>sea.</h5>
          <a href="tel:206.414.7467">206.414.7467</a>
          <a href="mailto:sea@rno1.com">sea@rno1.com</a>
          <a href="https://www.google.com/maps/place/800+Bellevue+Way+NE,+Bellevue,+WA+98004/@47.6175346,-122.2016228,3a,75y,40.66h,99.63t/data=!3m6!1e1!3m4!1sTkw6o0H-Dt8lGyzhiPxlPA!2e0!7i16384!8i8192!4m5!3m4!1s0x54906c8f3ba3b521:0x21c731b27b2071e6!8m2!3d47.617716!4d-122.201263" target="_blank">Map</a>
        </div>
              <div class="city" data-reveal="up">
          <h5>van.</h5>
          <a href="tel:604.357.4742">604.357.4742</a>
          <a href="mailto:van@rno1.com">van@rno1.com</a>
          <a href="https://www.google.com/maps/place/450+SW+Marine+Dr,+Vancouver,+BC+V5X+4V2,+Canada/@49.2100679,-123.1151668,3a,75y,278.67h,90t/data=!3m6!1e1!3m4!1sVbWLxpsyFmUNe98PBeTqjw!2e0!7i16384!8i8192!4m13!1m7!3m6!1s0x5486745063e7c653:0x1fea8e159fea3727!2s450+SW+Marine+Dr,+Vancouver,+BC+V5X+4V2,+Canada!3b1!8m2!3d49.2101629!4d-123.1155693!3m4!1s0x5486745063e7c653:0x1fea8e159fea3727!8m2!3d49.2101629!4d-123.1155693" target="_blank">Map</a>
        </div>
              <div class="city" data-reveal="up">
          <h5>vln.</h5>
          <a href="tel:+370 639 58 383">+370 639 58 383</a>
          <a href="mailto:vilnius@rno1.com">vilnius@rno1.com</a>
          <a href="https://g.page/monotwo?share" target="_blank">Map</a>
        </div>
          </div>
    <div class="social" data-reveal="up">
      <span>Follow us:</span>
              <a href="https://twitter.com/livethebrand" target="_blank">Twitter</a>
              <a href="https://www.facebook.com/RNO1LLC" target="_blank">Facebook</a>
              <a href="http://instagram.com/livethebrand" target="_blank">Instagram</a>
              <a href="https://medium.com/@livethebrand" target="_blank">Medium</a>
              <a href="http://www.linkedin.com/company/rno1" target="_blank">LinkedIn</a>
          </div>

    <div class="legal-container">
      <div class="copyright-mobile-tablet" data-reveal="up">
        <p>© 2022 RNO1, LLC livethebrand<sup>TM</sup>
        </p>
        <p>Made on the West Coast
          <svg width="14" height="9">
            <g fill="none" fill-rule="evenodd">
              <path fill="#454547" d="M13.761 6.504a.673.673 0 0 0-.474-.432.672.672 0 0 0-.64.19c-1.41 1.513-3.82 1.534-5.276-.023C5.346 4.33 2.287 4.324.256 6.227l-.01.01c-.25.248-.31.627-.176.89a.683.683 0 0 0 .445.424.677.677 0 0 0 .644-.15c1.511-1.42 3.79-1.42 5.28-.023.955 1.025 2.226 1.59 3.581 1.591 1.353 0 2.626-.566 3.574-1.582.242-.248.301-.625.167-.883M.084 2.36a.813.813 0 0 1 .163-.927l.01-.008c2.027-1.899 5.085-1.899 7.113 0 1.458 1.57 3.87 1.545 5.275.025.211-.18.431-.234.64-.183a.676.676 0 0 1 .46.385.81.81 0 0 1-.155.926c-.927 1.004-2.233 1.588-3.57 1.588-1.337 0-2.644-.584-3.584-1.602-1.486-1.395-3.765-1.397-5.277.025a.683.683 0 0 1-.615.16.682.682 0 0 1-.46-.389" />
            </g>
          </svg>
        </p>
      </div>

      <div class="legal" data-reveal="up">
        <div class="legal-links">
          <a href="../privacy-policy.html">Privacy Policy</a>
          <span>|</span>
          <a href="../terms-of-use.html">Terms of Use</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
</div>
</main>

<script crossorigin="anonymous" integrity="sha384-alIn55o9MZN9kDljN9B5o7jU1N4RWBSYSDdmmO4iY3N2lh8symVPIxqshUiclj30" src="..{{site.baseurl}}assets/generated/js/app.min%EF%B9%96v=1649842975.js"></script>
</body>

</html>
